#root {
    position: relative;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
.prettyprint {
    padding: 16px;
    border-radius: 8px;
    white-space: break-spaces;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-float infinite 3s ease-in-out;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: rgb(112, 76, 182);
}

.App-Container {
    padding-top: 16px;
    padding-bottom: 96px;
}

@keyframes App-logo-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.pagination {
    display: flex;
    margin: 16px auto;
}
.pagination > li {
    list-style: none;
    margin: 0 8px;
    padding: 8px 0;
    background: #1976d2;
    width: 36px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    border: solid 1px #1976d2;
    border-radius: 50%;
}
.pagination > li.active {
    background: none;
    border: solid 1px #1976d2;
}
.pagination > li.pagination__disabled {
    display: none;
}
.pagination > li > a {
    display: block;
    color: #fff;
    cursor: pointer;
}
.pagination > li.active a {
    color: #1976d2;
    cursor:auto
}
.pagination > li > a:hover {
    opacity: 0.5;
}
.pagination > li.active a:hover {
    opacity: 1;
}